.svg_size {
    width: "24px";
    height: "24px";
}

.carrot {
    transform: rotate(0deg);
    transition: transform 0.25s ease-out;
    background-color: transparent;
    outline: none;
}

.carrot_active {
    transform: rotate(90deg);
    transition: transform 0.25s ease-out;
    background-color: transparent;
    outline: none;
}
